

#barChart {
    font-size: 16px;
    font-family:Calibri;
    position: sticky;
    margin-top: 10px;
}

#barChart2 {
    font-size: 16px;
    font-family:'Calibri';
    position: sticky;
    margin-top: 10px;
}

.bar {
    fill: #d9f7fc;
    /*fill: #efefef;*/
    stroke:#808080;
    /*stroke:#808080;*/
}

.bar:hover {
    fill: #dcff4f;
    stroke: #000000;
}

.axis path,
.axis line {
    fill: none;
    stroke: #1f8fa1;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}