
 .twitterborder {
    width:400px;
    /*height:400px;*/
    border-radius: 3px;
    border: #ccc solid 1px;
    position:sticky;

    /*margin-top:20px;*/
    margin-left:720px;
}

.twitterpost {
    position: sticky;

    margin-top:20px;
    margin-left:720px;
}

@media screen and (max-width: 800px)  {

    .twitterborder {     
        margin-top: 20px;
        margin-left: 10px;
    }

    .twitterpost { 
        margin-top: 20px;
        margin-left: 10px;
    }
}
   

.table{
    display:table;
    height: 100%;
    width: 100%;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}
#map_wrapper {
    position: sticky;

    margin-top:20px;
    height: 400px;
}
#map_canvas {
    width: 100%;
    height: 100%;
}

#barChart {
    font-size: 14px;
    position: sticky;
    margin-top: 20px;
}

#barChart2 {
    font-size: 14px;
    position: sticky;
    margin-top: 20px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}