
 .twitterborder {
    width:400px;
    /*height:400px;*/
    border-radius: 3px;
    border: #ccc solid 1px;
    position:sticky;

    /*margin-top:20px;*/
    margin-left:720px;
}

.twitterpost {
    position: sticky;

    margin-top:20px;
    margin-left:720px;
}

@media screen and (max-width: 800px)  {

    .twitterborder {     
        margin-top: 20px;
        margin-left: 10px;
    }

    .twitterpost { 
        margin-top: 20px;
        margin-left: 10px;
    }
}
   

.table{
    display:table;
    height: 100%;
    width: 100%;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}
