
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Master.css" rel="stylesheet" />
    <link href="~/Content/ControlsStyle/product.css" rel="stylesheet" />
    <link href="~/Content/ControlsStyle/search.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header></header>
    <div class="navbar-default navbar_r">
        <div class="container">
            <nav class="navbar-header">
                @Html.ActionLink("Branches", "Branchs", "Branch", new { isMgr = false }, new { @class = "navbar-brand navbar-button_r" })
                @Html.ActionLink("Products", "Products", "ProductView",new { userID = 2}, new { @class = "navbar-brand navbar-button_r" })
            </nav>
        </div>
    </div>
    <br />
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <br />
            <p>&copy; @DateTime.Now.Year - FoodAndStuffStore</p>
        </footer>
    </div>
</body>
</html>
