header {
    /*background-image: url(/Content/Media/headerV2.png);*/
        background-image: url(/Content/Media/site_header.png);
    background-repeat: no-repeat;
    height: 200px;
    background-size: 100% 150px;
    margin: -10px -10px -10px -10px;
    background-size:cover;
    overflow-x:hidden;
    background-position-x:center;

}

.navbar_r {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #259599;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white;
}

.navbar-button_r {
    height: 40px;
    font-family: 'Berlin Sans FB';
    font-size: 20px;
    text-align: center;
    color: #808080;
    text-decoration: none;
    border-radius: 5px;
    border-right: 1px inset #efefef;
}

.navbar-button_r:hover {
    background-color: #ff0000;
}
body {
    font-family:"Berlin Sans FB";
}
h2 {
    font-family:"Berlin Sans FB";
    font-weight:300;
    text-shadow: 2px 2px #c4c4c4 !important;
}
@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }
h4 {
    font-family:"Bitstream Vera Serif Bold";
    font-weight:300;
}
.shoppingList {
    border: 1px solid #c4c4c4;
    background-color:#efefef;
    border-radius:10px;
    padding:15px 15px 15px 15px;
    width: 30%;
    margin: 10px;
    position:relative;
    display:inline-block;
}
.left-main-content {
    /*width: 80%;*/
    display:inline-block;
}
.loginDiv {
    column-count: 3;
    column-rule: 1px solid lightblue;
    column-gap: 40px;
}
.join-table {
    width: 150px;
    border-radius:2px;
}
.join-table-container {
     width: 170px;
}
th {
    text-align:left;
}
.th-manger-page {
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-weight: 400;
}