
<h2>Manager</h2>

@{
    Layout = "~/Views/Shared/Management.cshtml";
}

<head>
    <link href="~/Content/Manager/index.css" rel="stylesheet" />
    <link href="~/Content/Manager/D3Graphs.css" rel="stylesheet" />
    <script src="~/Scripts/d3/d3.js"></script>
</head>
<div style="width:100%">
    @*Statistics*@
    <div class="container" style="width: 63%;float: left;border: 1px solid #dddddd;">
        <h4 style="color:#0eabab;">Category Ranking by Products Sold</h4>
        <div id="barChart2"></div>
        <script src="~/Content/Manager/GraphD3-2.js"></script>
        <h4 style="color:#0eabab;">Average Price of Transaction Per Month</h4>
        <svg id="barChart1"></svg>
        <script src="~/Content/Manager/GraphD3-1.js"></script>
    </div>
    @*Twitter*@
    <div class="container" style="margin-left:90px;">
        <div class="twitterborder">
            <div class="table">
                <div class="table-cell">
                    <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/awesomelectric?ref_src=twsrc%5Etfw">Tweets by awesomelectric</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <div class="twitterpost">
            <input type="text" class="form-control" placeholder="Tweet..." id="tweet-input"> <br />
            <button id="tweet-button" class="btn btn-success" type="button">Go!</button>
        </div>
        <table  style="margin-left: 720px; margin-top: 50px;" class ="table-bordered" id="records_table" border='1'>
            <tr>
                @*PurchaseDate     = order.PurchaseDate,
                FullName         = client.FullName,
                PriceSum         = order.PriceSum(),
                CurrencyPurchase = order.CurrencyPurchase*@
                <th class="text-warning th-manger-page">Purchase Date</th>
                <th class="text-warning th-manger-page">Full Name</th>
                <th class="text-warning th-manger-page">Total Sum</th>
                <th class="text-warning th-manger-page">Currency</th>
            </tr>
        </table>
    </div>
    <div class="container col-md-12">
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#tweet-button").click(function () {
            var text = $('#tweet-input').val()

            $.ajax({
                url: "/Manager/PostTweet", data: { text: text }, success: function (result) {
                    $('#tweet-input').val("")
                }
            });
        });
    });
</script>


<script>
$(document).ready(function() {
    $.ajax({
             url: "/Manager/JoinOrdersByClients",
             success: function (data) {

                 $.each(data, function (i, item) {
                     item = item[0];
                     $('<tr>').append(
                     $('<th class="text-warning th-manger-page">').text(item.PurchaseDateStr),
                     $('<th class="text-warning th-manger-page">').text(item.FullName),
                     $('<th class="text-warning th-manger-page">').text(item.PriceSum),
                     $('<th class="text-warning th-manger-page">').text(item.CurrencyPurchase)).appendTo('#records_table');
                     });
            }
   });
});
</script>
