
<h2>Manager</h2>

<head>
    <link href="~/Content/Manager/index.css" rel="stylesheet" />
</head>


<div class="twitterborder">
    <div class="table">
        <div class="table-cell">
            @*<a class="twitter-timeline" data-aria-polite="assertive" data-width="400" data-height="400" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@
            <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/awesomelectric?ref_src=twsrc%5Etfw">Tweets by awesomelectric</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
    </div>
</div>

<div class="twitterpost">
    <a href="https://twitter.com/intent/tweet?screen_name=awesomelectric&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @@awesomelectric</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
