
<h2>Manager</h2>

<head>
    <link href="~/Content/Manager/index.css" rel="stylesheet" />
</head>


<div class="twitterborder">
    <div class="table">
        <div class="table-cell">
            <a class="twitter-timeline" data-aria-polite="assertive" data-width="400" data-height="400" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>