@model ElectricalAppliancesStore.Models.Home.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    @if (Model.errorMsg != "") {
        //Inform the user of login failure

    }
</script>
<div class="jumbotron text-center">
    <h1> Wellcome to our store!</h1>
    <br />
    <p class="lead">
        We are selling everything you need, from food, to stuff!! E-V-E-R-Y-T-H-I-N-G! buy here more, and remember:
        <br /><br />

        <h3>
            <b>The more you buy, The happier you are</b>
        </h3>
    </p>
</div>
<div class="container">
    
    @*@Html.BeginForm("Home", "Index"){ 
        
    }*@
</div>

@*<div class="container">
    <div class="square">
        food
    </div>
    <div class="square">
        stuff
    </div>
    <div class="square">
        sports
    </div>
    <div class="square">
        electricity
    </div>
</div>*@


